@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: #edf0f2;
  overflow-x: hidden;
}

html, body, #root {
  height: 100%;
  font-family: "Roboto", sans-serif;
}
:root {
  --color-background1: #9233ea;
  --color-text1: #ffffff;
  --color-background2: #c7dcea;
  --color-text2: #ffffff;

  --box-shadow1: 0px 5px 15px #00000085;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--color-background1);
}

.MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded{
  box-shadow: var(--box-shadow1);
}
.MuiContainer-root.MuiContainer-fixed.MuiContainer-maxWidthLg{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 10px;
  height: auto;
  background-color: var(--color-background2);
  box-shadow: var(--box-shadow1);
}